<#@ template language="C#" #>
<#= SchedulerName#>.RegisterTransportDelayEvent(<#= SignalName#>, <# for(int i=0; i<Events.Count; i++){#><#= Events[i] #><#if(i != (Events.Count - 1) ){#>, <#}#><# } // end of foreach #>);