<#@ template language="C#" #>
new <#= TypeName#> (<# for(int i=0; i<ConstructorParameters.Length; i++){#><#= ConstructorParameters[i] #><#if(i != (ConstructorParameters.Length - 1) ){#>, <#}#><# } // end of foreach #>)